.ResultCard{
    display: flex;
    flex-direction: column;
    width: 80vw;
    margin: 2% auto;
    justify-content: flex-start;
    justify-items: left;
}

.kana-container{
    display: flex;
    flex-direction: column;
    border: solid 1px grey;
    border-radius: 15px;
    padding: 0 0 0 2vw;
    height: fit-content;
}

.kana-furigana{
    margin: 15px 0 0 15px;
}

.kana-text{
    margin: 0 0 15px 15px;
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
}

.definition-container{
    height: max-content;
    margin: -2vw 0 0 0;
    border: solid 1px grey;
    border-top: none;
    border-radius: 0 0 15px 15px;
    padding: 4vw 2vw 0vw 2vw;
}

.definition-container-plain{
    text-align: left;
    margin-bottom: 20px;
}

.definition-type{
    text-align: left;
    margin: 0;
    color: #ff760c;
}

.definition-text{
    text-align: left;
    margin-top: 0;
    font-size: x-large;
    width: fit-content;
    display: inline-block;
}



.uk-comment-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 60%;
    margin: 2% auto;
    padding: 10px 0 0 0;
    list-style-type: none;
}

.fc{
    flex-direction: column;
    align-items: flex-start;
    margin: 2% 2% 0 2%;
    width: 100%;
}

.fc ul{
    justify-content: flex-start;
    flex-direction: column;
    width: calc(100% - 30px);
}

.fc li {
    width: 100%;
    flex-direction: column;
    text-align: left;
    align-items: flex-start;
}

.uk-comment-list .uk-comment~ul {
    margin: 0 0 0 0;
    padding-left: 30px;
    list-style: none;
}

.main{
    background-color: #4A4C52;
    padding: 1rem 1rem 0 1rem;
    border-radius: 5px;
}

.secondary{
    width: 100%;
}

hr{
    width: 45%;
    border-top: 1px solid #ff760c;
    margin: 0 auto;
}

.uk-text-meta{
    display: inline;
    margin-left: 1em;
}

address, dl, fieldset, figure, ol, p, pre, ul {
    margin: 0;
}

.other-forms-title{
    text-align: left;
}

.other-forms{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

.alternative{
    width: 50%;
    text-align: left;
}

@media screen and (max-width: 690px) {
    .alternative{
        width: 100%;
    }
}