.App {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #28292C;
  text-align: center;
  min-height: 100vh;
  color: #B2B7C4;
}

/* overrides */
.uk-h1, .uk-h2, .uk-h3, .uk-h4, .uk-h5, .uk-h6, .uk-heading-2xlarge, .uk-heading-large, .uk-heading-medium, .uk-heading-small, .uk-heading-xlarge, h1, h2, h3, h4, h5, h6 {
  color: #B2B7C4;
}


